// --------------------------------------------------------
// Neo-Sans
.neosans {
	font-family: neo-sans,sans-serif;
	font-weight: 400;
	font-style: normal;
	}
.neosans.medium {
	font-weight: 500;
	}
.neosans.medium-italic {
	font-weight: 500;
	font-style: italic;
	}
.neosans.bold {
	font-weight: 700;
	}
.neosans.bold-italic {
	font-weight: 700;
	font-style: italic;
	}